.head {
    text-align: center;
    margin-top: 10%;
    background-color: red;
}

.info {
    margin-left: auto;
    padding: 15%;
}

.footer {
    text-align: center;
    background-color: #A47764;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(68, 67, 67);
}

ul li {
    float: right;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 3px 14px;
    text-decoration: none;
}

ul li a:hover {
    background-color: beige;
}
