img {
    height: 300px;
    width: 350px;
}

.s2k {
    display: flex;
}

.head {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 3px 14px;
    text-decoration: none;
}

ul li a:hover {
    background-color: beige;
}

.button {
    display: flex;
}

.prev {
    margin-right: 90%;
}