.Card {
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 10px gray;
}

h2 {
    display: inline-block;
}

.box {
    padding: 10px;
    margin: 5px;
    background: lightgreen;
    border: 1px solid #333;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
    width: 120px;
    height: 40px;
}

.none {
    display: none;
}